<% current_user.notifications.order("created_at desc").where(read_at: nil).each do |notification| %>
  <p><%= "#{notification.actor.first_name} #{notification.action} your #{notification.notifiable.class}" %></p><br>
  <p><%= render 'mark_as_read', notification: notification %></p>
<% end %>