<% current_user.notifications.each do |notification| %>
  <p><%= "#{notification.actor.first_name} #{notification.action} your #{notification.notifiable.class}" %></p><br>
  <p><%= button_to 'Mark as Read', edit_notification_path(notification.id), method: :get,  params: { read_at: Time.now } %> </p>
<% end %>