
<%= simple_form_for [likeable, Like.new] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-actions">
    <%= f.submit "Like #{likeable.likes.count}", class: "bg-blue-500 text-white p-1 rounded-full hover:bg-black" %>
  </div>
<% end %>