<p>
  <strong>Hosting Gym:</strong>
  <%= event.host.name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= event.event_date %>
</p>

<p>
  <strong>Event name:</strong>
  <%= event.event_name %>
</p>

<p>
  <strong>Event info:</strong>
  <%= event.event_info %>
</p> 
