<h1>New Ticket</h1>
<% @booking = Booking.find(params[:booking_id])  %>
<%= @booking.event.event_name %>
<% @booking.num_tickets.times do %>
  <%= render partial: 'form', locals: { booking: @booking } %>
<% end %>

<%= link_to 'Back', tickets_path %>
